# Ignore Images

# Env
.env
data/*
scripts/local-scripts/get-book-export-data/anki-export/anki/*
scripts/local-scripts/get-book-export-data/markdown-export/obsidian/*
scripts/local-scripts/get-book-export-data/markdown-export/notion/*
scripts/local-scripts/format-book-pictures/book-picture/*.png
scripts/local-scripts/format-book-pictures/renamed-images/*.png

# Caches
__pycache__
*export_files*