/* Display Book Section */
.DisplayBookContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 1rem;
  cursor: pointer;
}

/* Display Books Section */
.DisplayBooksContainer {
  display: flex;
  column-gap: 3rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 5rem;
}

.DisplayBooksContainer:last-child {
  justify-content: flex-start;
}

/* Search Bar Section */
.SearchBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
}

/* Page Section */
.PageContainer {
  max-width: fit-content;
  margin: 0 auto;
}
