/* Display Book Section */
.DisplayBookContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;

  margin-top: 1rem;
  cursor: pointer;
}

.DisplayBookContainerBookTitle {
  max-width: 10rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Display Books Section */
.DisplayBooksContainer,
.DisplayBooksErrorContainer {
  display: grid;
  column-gap: 3rem;
  align-items: center;
  justify-content: center;

  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 5rem;
}

.DisplayBooksErrorContainer {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 860px) {
  .DisplayBooksContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .DisplayBooksContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  .DisplayBooksContainer {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* Search Bar Section */
.SearchBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
}

/* Page Section */
.PageContainer {
  max-width: fit-content;
  margin: 0 auto;
}
